/* body styling */
body {
  font-size: 14px;
}

/* nav styling */
nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

h1 {
  font: 2em sans-serif;
}

.example {
  padding-top: 30px;
  text-align: center;
}

/* section styling */
section {
  margin: 0 auto;
  width: 60%;
}

h3 {
  font-size: 1.3em;
  padding-top: 30px;
  text-align: center;
}

.element, .l3d {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* last 3 divs backgorund color */

.l3d {
  background-color: #777
}
